@font-face {
    font-family: "FuturaLT";
    src: url("Assets/FuturaLT.ttf") format("truetype");
}

html {
    font-family: "FuturaLT";
}

#accueil, #burger {
    height: 30px;
    transition: all 0s;
}

img {
    transition: 0.5s;
    object-fit: contain;
    width: 100%;
}

.projets img:hover{
    transition: 0.5s;
    opacity: 0.5;
}

.projets img:last-of-type{
    transition: 0.5s;
    filter: grayscale(100%);
}

.projets img:last-of-type:hover{
    opacity: 0.6;
    filter: grayscale(0);
}

.nav {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100%;
    padding: auto;
    display: flex;
    background-color:#B0C4DE;
}

body:has(.nav:hover) .navbar{
    visibility: visible;
    background-color: 	#DDA0DD;
}

body:has(.lien:hover) .navbar{
    transition: 2.5s;
    visibility: hidden;
}

.navbar {
    visibility: hidden;
    background-color: 	#DDA0DD;
    position: fixed;
    top: 0;
    width: 100%;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .navbar a {
    
    float: left;
    display: block;
    color: #4B0082;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #FFE4B5;
    color: rgb(255,0,255);
  }
  